.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a.rout-nav {
  text-decoration: none !important;
  font-weight: bold;
}

.round {
  border-radius: 20px !important;
}

.icon {
  opacity: 60%;
}

.mw-300 {
  max-width: 300px;
}

.mw-400 {
  max-width: 400px;
}

.mw-500 {
  max-width: 500px;
}

.mw-600 {
  max-width: 600px;
}

.c-dark {
  background-color: #212121;
}